body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), /* Camada com 70% de transparência */
                url('Leonardo_Kino_XL_create_a_background_image_for_a_currency_conv_3.jpg');
  background-size: cover;
  background-position: center;  
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.input-group,
.select-group {
  margin-bottom: 15px;
}

input,
select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-top: 5px;
}

.result {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}
